.content-wrapper {
   
    background: #f3f3f3;
    width: 100%;
    padding: 1.0%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-left: 190px;
    margin-right: 80px;
    margin-top: -700px;
    width: 1000px;
   
    
}

.tablita{

background-color: #ff6259;
color:#f3f3f3;

}
.mdi-pencil-circle{
    font-size: 25px;
}
.mdi-close-circle{
    font-size: 25px;
    color: red;
}
.content-wrapperp {
    background: #f3f3f3;
    width: 100%;
    padding: 1.0%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-left: 100px;
    margin-right: 80px;
    margin-top: -580px;
    width: 1000px;
}
.formularios{
    
    margin-left: 40px;
    margin-right: 80px;
    margin-top: -630px;
    width: 1100px;
}
.caja{
    background: rgb(64, 67, 68);
    position: relative;
    margin-top: 10px;
    height: 30px;
    width: 30px;
}
.cajas{
    background: white;
    position: relative;
    margin-top: 10px;
    height: 30px;
    width: 30px;
}
.span{
    position: relative;
    margin-left: 60px;
    bottom: 25px;
    height: 10px;
}
.cards{
    border-color: transparent;
}
.gf_left_half{
    margin-left: 450px;
    margin-top: 50px;
}
.gf_right_half{
    margin-right: 480px;
    margin-top: 50px;
}

.carticas{
    position: relative;
    margin-top: 90px;
   
}
.carticas2{
    position: relative;
    bottom: 292px;
}
.carticas23{
    position: relative;
    bottom: 300px;
}
.carticas24{
    position: relative;
    bottom: 209px;
}
.carticas25{
    position: relative;
    bottom: 155px;
}
.carticas26{
    position: relative;
    bottom: 368px;
}
.carticas22{
    position: relative;
    bottom: -10px;
}
.carticas27{
    position: relative;
    bottom: 185px;
}
.btn-primary2 {
    position: relative;
    margin-left:700px;
    margin-top: -70px;
    color: #fff;
    background-color: red;
    border-color: red;
}
.btn-primary22 {
    position: relative;
    margin-left:700px;
    margin-top: -550px;
    color: #fff;
    background-color: red;
    border-color: red;
}
