/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/
body{
	background:url('../images/banner.jpg') no-repeat -83px 0px;
	text-align: center;
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
	font-family: 'Ropa Sans', sans-serif;
	background-size:cover;
}
.clear{
	clear:both;
}
h1 {
    padding-top: 60px;
    color: white;
    font-size: 50px;
    font-family: 'Ropa Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.main-content {
    width: 32%;
    margin: 60px auto;
}
.agile-tb {
    border: 2px solid rgba(255, 255, 255, 0.21);
    padding: 40px 40px;
}
.left-agile{
	width:56.6%;
	float:left;
	background:url('../images/1.jpg') no-repeat -83px 0px;
	background-size:cover;
	min-height:540px;
}
.left-agile h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
	position:relative;
	
}
.left-agile h2:before {
    content: ' ';
    background: #fff;
    width: 19%;
    position: absolute;
    top: 26px;
    left: 25px;
    height: 3px;
}
.left-agile h2:after {
    content: ' ';
    background: #fff;
    width: 19%;
    position: absolute;
    top: 26px;
    right:25px;
    height: 3px;
}
.left-agile h3{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}
.left-agile h4 {
    color: #fff;
    font-size: 15.2px;
    font-weight: 500;
	margin-top:8px;
}
.left-text{
	border:10px solid rgba(255, 255, 255, 0.28);
	height:300px;
	width:60%;
	margin:30px auto 0 auto;
	padding-top:30px;
}
/*----sap-----*/
div#horizontalTab ul{
	margin-bottom:0px;
}
.sap_tabs {
  margin: 0 auto;
  text-align: center;
  -webkit-appearance: none;
 }
.resp-tab-item {
    border: none;
	float: left;
    color: #e2e2e2;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 9px 24.7px;
    margin: 0px;
    display: inline-block;
    list-style: none;
    outline: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-appearance: none;
    font-weight: 700;
}
.resp-tab-active {
	text-shadow: none;
    background: #ce224d;
	-khtml-border-radius: 3px;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
/*----//sap-----*/
input[type="text"], input[type="password"] {
    width: 92%;
    padding: 15px;
    border: none;
    margin-bottom: 20px;
    font-size: 14px;
    outline: none;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.15);
}
textarea{
    width: 92%;
    padding: 15px;
    border: none;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.15);
	min-height:100px;
	font-family: 'Ropa Sans', sans-serif;
}

input[type="submit"] {
    color: #fff;
    background: #ce224d;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 30px auto 0 auto;
	display:block;
	cursor:pointer;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
input[type="submit"]:hover{
    background: #0068fe;
}
ul li {
	list-style: none;
	display: inline-block;
}
ul li input[type="checkbox"] {
	display: none;
}
ul li input[type="checkbox"]+label {
	position: relative;
	padding-left: 25px;
	border: #ce224d;
	color:#ce224d;
	display: inline-block;
	font-size: 13px;

}
ul li input[type="checkbox"]+label span:first-child {
	width: 13px;
	height: 13px;
	display: inline-block;
	border: 1px solid #ce224d;
	position: absolute;
	top: 1px;
	left: 4px;
	bottom: 4px;
	background:#ce224d;
}
ul li input[type="checkbox"]:checked+label span:first-child:before {
	content: "";
	background: url(../images/tick.png)no-repeat;
	position: absolute;
	left: 2px;
	top: 2px;
	font-size: 10px;
	width: 10px;
	height: 10px;
}
 ::-webkit-input-placeholder{
color:#ffffff !important;
}
label.checkbox {
    display: inline-block;
}
label.checkbox {
  display: inline-block;
}
.checkbox {
    position: relative;
    font-size: 0.95em;
    font-weight: normal;
    color:#ce224d;
    padding: 0em 0.5em 0em 2em;
}
.checkbox i {
    position: absolute;
    bottom: 1px;
    left: 2px;
    display: block;
    width: 18px;
    height: 18px;
    outline: none;
    background:#ce224d;
    border: 1px solid #ce224d;
}
.checkbox i {
    font-size: 20px;
    font-weight: 400;
    color: #999;
    font-style: normal;
}
.checkbox input:checked + i:after {
    opacity: 1;
}
.checkbox input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.checkbox input + i:after {
    content: '';
    background: url("../images/tick.png") no-repeat 5px 5px;
    top: -1px;
    left: -1px;
    width: 15px;
    height: 15px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}
input[type="checkbox"]{
	opacity:0;
	margin:0;
	display:none;
}
.footer p {
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.footer p a{
	color:#fff;
}
.footer p a:hover{
	text-decoration:underline;
}
/*-- responsive--*/
@media (max-width:1440px){
.main-content {
    width: 36%;
}
}
@media (max-width:1366px){
.main-content {
    width: 39%;
}
}
@media (max-width:1280px){
.main-content {
    width: 41%;
}
}
@media (max-width:1080px){
h1 {
	font-size: 45px;
}
.main-content {
    width: 48%;
}
}
@media (max-width:1024px){
.main-content {
    width: 51%;
}	
}
@media (max-width:991px){
.main-content {
    width: 53%;
}
}
@media (max-width:966px){
.main-content {
    width: 55%;
}
}
@media (max-width:900px){
.main-content {
    width: 59%;
}
}
@media (max-width:800px){
.main-content {
    width: 66%;
}
}
@media (max-width:768px){
.main-content {
    width: 69%;
}
}
@media (max-width:736px){
.main-content {
    width: 72%;
}
}
@media (max-width:667px){
h1 {
	font-size: 40px;
}
.main-content {
    width: 79%;
}
}
@media (max-width:640px){
	.main-content {
    width: 83%;
}
}
@media (max-width:600px){
.resp-tab-item {
    padding: 9px 20.7px;
	}
}
@media (max-width:568px){
h1 {
	font-size: 35px;
}
.resp-tab-item {
    padding: 9px 16.7px;
	}
}
@media (max-width:480px){
h1 {
	font-size: 32px;
	padding-top: 35px;
}
.footer p {
	font-size: 13px;
	line-height:27px;
}
.resp-tab-item {
    font-size:15px;
    padding: 9px 13.7px;
}
.main-content {
    margin: 40px auto;
}
input[type="text"], input[type="password"],textarea {
    width: 90%;
}
}
@media (max-width:414px){
h1 {
	font-size: 30px;
}
.resp-tab-item {
    font-size: 14px;
    padding: 9px 9px;
}
input[type="text"], input[type="password"],textarea {
    width: 88%;
}
}
@media (max-width:384px){
h1 {
	font-size: 27px;
}
.main-content {
    width: 88%;
	margin: 30px auto;
}
.resp-tab-item {
    padding: 9px 8px;
}
.agile-tb {
    padding: 30px 30px;
}
}
@media (max-width:375px){
.resp-tab-item {
    letter-spacing: 1px;
}
}
@media (max-width:320px){
h1 {
	font-size: 25px;
}
.resp-tab-item {
    letter-spacing: 0px;
}
.agile-tb {
    padding: 24px 16px;
}
.main-content {
    width: 92%;
}
input[type="submit"] {
    padding: 8px 20px;
    margin: 20px auto 0 auto;
}
}